.content {
  margin-top: 150px;
  text-align: center;
  }

.title {
  color: #636b6f;
  font-size: 84px;
  }

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  }

.m-b-md {
  margin-bottom: 150px;
  }

.btn + .btn {
    margin-left: 1rem;
}
            
.footer{
  background-color: #c0c0c0;
  color: #fff;
  text-align:center;
  margin-top: 200px;
  }