@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

h2 {
  color: #636b6f;
  margin-bottom: 20px;
}

.form-group {
  color: #636b6f;
}

.img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.card-header {
  color: #636b6f;
  background-color: #fff;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0);
}

.login-body {
  background-color: rgba(0, 0, 0, 0);
}

.table {
  color: #636b6f;
  max-width: 100%;
}

.form-group {
  margin-top: 15px;
}

.footer {
  background-color: #87CEEB;
  color: #636b6f;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */

  .img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  .btn {
    font-size: 12px;
    width: auto;
  }

  .form-control {
    width: 80%;
    height: 80%;
  }

  .table {
    color: #636b6f;
    font-size: 10px;
    max-width: 100%;
  }

  .img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

