@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.navbar-laravel {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0);
}

.login-body {
  background-color: rgba(0, 0, 0, 0);
}

.img {
  width: 100%;
}

.footer {
  text-align: center;
  background-color: #87CEEB;
  color: #fff;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  .btn {
    font-size: 12px;
    width: auto;
  }

  .table {
    font-size: 10px;
    max-width: 100%;
    color: #636b6f;
  }
}

