@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

h2 {
  color: #636b6f;
  margin-bottom: 20px;
}

.table {
  color: #636b6f;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.form-group {
  color: #636b6f;
  margin-top: 30px;
}

.img {
  width: 100%;
}

.footer {
  background-color: #87CEEB;
  color: #636b6f;
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  .btn {
    font-size: 10px;
  }

  .form-control {
    width: 80%;
    height: 80%;
  }

  .table {
    color: #636b6f;
    font-size: 10px;
    max-width: 100%;
  }
}

