body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

h2 {
  color: #636b6f;
  margin-bottom: 20px;
}

.table {
  color: #636b6f;
}

.list-group-item {
  border-color: #000;
  background-color: #fff;
}

.form-group {
  color: #636b6f;
  margin-top: 30px;
}

.footer {
  background-color: #eeffff;
  color: #636b6f;
  text-align: center;
  margin-top: 30px;
}

