@charset "UTF-8";

.body {
  background-color: #fff;
}

.content {
  margin-top: 30px;
  text-align: center;
}

.navbar-brand {
  color: #636b6f;
}

.title {
  color: #428bca;
  font-size: 84px;
}

.sub-title {
  color: #636b6f;
  font-size: 30px;
}

.text {
  margin-bottom: 40px;
  color: #636b6f;
  font-size: 20px;
}

.links > a {
  padding: 0 25px;
  color: #636b6f;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 10px;
}

.m-b-md-2 {
  margin-bottom: 80px;
}

.btn {
  margin-bottom: 50px;
  padding: 10px 15px;
}

.btn + .btn {
  margin-left: 1rem;
}

img {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.footer {
  margin-top: 10px;
  text-align: center;
  color: #636b6f;
  background-color: #87CEEB;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  .content {
    margin-top: 30px;
    text-align: center;
  }

  .title {
    color: #428bca;
    font-size: 42px;
  }

  .sub-title {
    color: #636b6f;
    font-size: 18px;
  }

  .text {
    margin-bottom: 20px;
    color: #636b6f;
    font-size: 12px;
  }

  .m-b-md-2 {
    margin-bottom: 20px;
  }

  .btn {
    margin-bottom: 20px;
    font-size: 80%;
    width: 80%;
  }

  .btn + .btn {
    margin-left: 0;
  }

  .footer {
    text-align: center;
    color: #636b6f;
    background-color: #87CEEB;
  }
}

